* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

.container {
  display: inline-block;
  border:  5px solid blue;
}

.box {
  position: relative;
  display: inline-block;
  margin: 5px;
  height: 500px;
  width: 350px;
}

.sconto {
  position: absolute;
  top: 0;
  right: 0;
  background-color: green;
}

.sconto-5 {
  background-color: red;
}

.cuore {
  color: red;
  text-align: center;
  font-size: 30px;
}
