* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

.container {
  display: inline-block;
  border:  5px solid blue;
}

.box {
  position: relative;
  display: inline-block;
}

.sconto {
  position: absolute;
  top: 0;
  right: 0;
  background-color: green;
}

.sconto-5 {
  background-color: red;
}
