* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

.container {
  display: inline-block;
  border:  5px solid blue;
}

.box-ipad {
  display: inline-block;
}

.box-iphone {
  display: inline-block;
}

.box-cuffie {
  display: inline-block;
}
